# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Uploaded files
uploads/

# Dataset
dataset/
data/

# Jupyter notebooks
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# MacOS
.DS_Store

# Temporary files
*.tmp
*.temp